<h2 class="adeline">Adeline</h2>

<span class="lyrics ad">
We see the storm that’s coming on
Can’t retreat intent and weather on
We see the storm that’s brought the dawn
Won’t repeat the past before we’re gone<br /><br />

Release my doubt
An empty bottle or promise for the night<br /><br />

Adeline a vision to get lost inside
Adeline secret look of auburn pride
Adeline a vision to get lost inside
A vision to get lost inside<br /><br />

Our souls are slowly dragging on
Can’t blame our debts before we’re gone
Our souls embrace the sea of calm
Won’t repeat the path we’ve been walking on<br /><br />

Release my doubt
An empty bottle or promise for the night<br /><br />

Adeline a vision to get lost inside
Adeline secret look of auburn pride
Adeline a vision to get lost inside
A vision to get lost inside<br /><br />

Instrumental solo<br /><br />

Adeline a vision to get lost inside
Adeline secret look of auburn skies
Adeline a vision to get lost inside
A vision to get lost inside<br /><br />

We see the storm that’s coming on
Won’t repeat the past before we’re gone<br /><br />
</span>
