<table id="footer" width="100%" style="width:100; padding:0px;">
  <tr>
    <td width="20%">
    </td>
    <td v-align="bottom" width="55%" id="links" class="text white-background center">
        <%= render "bottom" %>
    </td>
    <td width="25%">
      <span style="float:right;">
        <%= render "social_links" %>
      </span>
    </td>
  </tr>
  <tr>
    <td colspan="3" id="bottom-logo" class="center base" style="padding:0px;">
      <%= image_tag("Logo_med.png") %>
    </td>
  </tr>
</table>
