<h2 class="den" style="text-decoration:underline ">The Siren’s Den</h2>

<span class="lyrics siren">
Take this bottle, Take these pills
Take myself from myself and I’m still
Still trapped in this prison
What’s left of my reason
Can you hear me?<br /><br />

Not all dreams spirit our souls away
Not all derelicts destined to stay
Stay trapped in this prison
Holes left in my reason<br /><br />

Secrets in my cell of scandals under lock and key
All alone confined within these walls of silence
Broken only from their righteous preaching choirs
Am I a saint of circumstance or lost in
The siren’s den<br /><br />

Take my body, Take my friends
Take myself from myself in the end
Still trapped in this prison
Whats left of my reason
Someone save me<br /><br />

Where’s the angel I thought I would find
My theories have run out of time
Time stops in this prison
This life's out of season<br /><br />

Secrets in my cell, Of scandals under lock and key
All alone confined within the walls of silence
Broken only from their righteous preaching choirs
Am I a saint of circumstance or lost in<br /><br />

The siren’s den, the siren’s den<br /><br />

Will I survive the dark tides of my soul
Can I find my self control
Will I withstand the fall from these heights
Can I radiate through the night<br /><br />

Take this bottle, Take these pills
Take myself from myself and I’m still
Still trapped in this prison
What’s left of my reason<br /><br />

Secrets in my cell, Of scandals under lock and key
All alone confined within the walls of silence
Broken only from their righteous preaching choirs
Am I a saint of circumstance or lost in<br /><br />

The siren’s den, the siren’s den, the siren’s den<br />
</span>
