<div id="container">
  <div id="header"></div>
    <div id="content" class="right-one">
      <div style="float:left;">
        <div>
          <%= image_tag("TheDaylightDistrict_02.jpg", :height => "300px", :width => "300px") %>
        </div>
        <h1>Contact:</h1>
        <h1>maxnedved@gmail.com</h1>
      </div>
    </div>
  <div id="push"></div>
</div>

<div id="footer">
  <div id="links" class="center text">
    <%= render "bottom" %>
  </div>
  <%= render 'footer' %>
</div>