<div id="container">
  <div id="header"></div>
  <div class="center">blah blah blah</div>
  <div id="content" class="right" style="width:400px;">
    <span class="center"> 
    <%= image_tag("daylight_4.jpg", :height => "400px", :width => "300px") %>
  </span>
  <div id="push"></div>
</div>

<div id="footer">
  <div id="links" class="center text">
    <%= render "bottom" %>
  </div>
  <%= render 'footer' %>
</div>