<table style="padding: 50px; 0">
  <tr>
    <td colspan="3" class="shade" style="float:right;">
       <%= image_tag("DSC_3689.jpg", height: "400px", width: "auto") %>
    </td>
    <td colspan="1" class="white-background">
      <h3>
        For booking and label inquiries:<br /> <br />
        thedaylightdistrict@gmail.com<br /><br /><br /><br />
        <%= link_to image_tag("find_us_on_facebook.png", height: "auto", width: "250px"), " http:// www.facebook.com/maxnedved", :target => "blank" %>
      </h3>
    </td>
  </tr>
</table>

<%= render 'footer' %>
