<div id="container">
  <div id="header"></div>
    <div id="content" class="right-one">
      <h3 class="center">Contact Information</h3>
      <div style="float:left; padding:20px">
        <br /><br /><br /><br />
        You can reach us via email!<br /><br />
        contact_us@gmail.com
      </div>
      <div style="float:right; margin-right:70px">
        <%= image_tag("daylight_4.jpg", :height => "360px", :width => "270px") %>
      </div>
    </div>
  <div id="push"></div>
</div>

<div id="footer">
  <div id="links" class="center text">
    <%= render "bottom" %>
  </div>
  <%= render 'footer' %>
</div>