<div id="container">
  <div id="header"></div>
  <div id="content center" class="right-side">
    <div class="home">
      <h1>New Daylight District EP Released!</h1>
      <%= image_tag("Attachment-1.jpeg") %>
      <a href="https://itunes.apple.com/us/artist/the-daylight-district/id734694744?uo=4" target="itunes_store"><img src="assets/itunes-logo1.jpg"></a>
      <a href="http://www.amazon.com/The-Daylight-District-EP/dp/B00GAZRN04/ref=sr_1_cc_1?s=aps&ie=UTF8&qid=1383422503&sr=1-1-catcorr&keywords=the+daylight+district" target="blank"><img src="assets/Amazon-MP3.png"></a>
      <iframe  scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/116767230"></iframe>
    </div>
  </div>
  <div id="push"></div>
</div>

<div id="footer">
  <div id="links" class="center text">
    <%= render "bottom" %>
  </div>
  <%= render 'footer' %>
</div>

<script type="text/javascript">
  $('.home, img').fadeIn(700);
</script>