<div id="container">
  <div id="header"></div>
  <div id="content right-one"></div>
  <div id="push"></div>
</div>

<div id="footer">
  <div id="links" class="center text">
    <%= render "bottom" %>
  </div>
  <%= render 'footer' %>
</div>

<script type="text/javascript">
  $('#footer').hide().slideDown(200);
</script>