<div id="container">
  <div id="header"></div>
  <div id="content" class="box transparent text">
    <h2>This is where latest news goes.</h2>
  </div>
  <div id="push"></div>
</div>

<div id="footer">
  <div id="links" class="center text">
    <%= render "bottom" %>
  </div>
  <%= render 'footer' %>
</div>