<div id="container">
  <div id="header"></div>
  <div id="content" class="box transparent text">
    <h2>This is where latest news goes.</h2>
  </div>
  <div id="push"></div>
</div>

<div id="footer">
  <div id="links" class="center text">
    <%= render "bottom" %>
    <div style="display: inline-block; margin-right:-300px;">
      <%= render "social_links" %>
    </div>
  </div>
  <%= render 'footer' %>
</div>

  <script type="text/javascript">
    $('.box').fadeIn(500);
  </script>