<div id="container">
      <div id="content" class="box transparent center" style="width:75%;">
      <div id="slider">
        <img src="/assets/daylight_1.jpg" />
        <img src="/assets/daylight_2.jpg" />
        <img src="/assets/daylight_3.jpg" />
        <img src="/assets/daylight_4.jpg" />
        <img src="/assets/daylight_5.jpg" />
        <img src="/assets/daylight_6.jpg" />
        <img src="/assets/daylight_7.jpg" />
        <img src="/assets/daylight_8.jpg" />
        <img src="/assets/daylight_9.jpg" />
        <img src="/assets/daylight_10.jpg" />
      </div>
  </div>
  <div id="push"></div>
</div>

<div id="footer">
  <div id="links" class="center text">
    <%= render "bottom" %>
  </div>
  <%= render 'footer' %>
</div>
  
  
<script type="text/javascript">
  $('.box').fadeIn(500);
  $('#slider img').fadeIn(750);
  $('#slider').owlCarousel({
    singleItem: true,
    navigation: true
  });
</script>

