<div id="container">
  <div id="header"></div>
    <div id="content pic" class="box transparent center pic" style="margin-left:700px; margin-right:5%;">
      <h2 class="center">Photos</h3>

      <%= image_tag("daylight_1.jpg") %>
      <%#= image_tag("daylight_2.jpg", :height => "180px", :width => "150px") %>
      <%#= image_tag("daylight_3.jpg", :height => "180px", :width => "150px") %>
  </div>
  <div id="push"></div>
</div>

<div id="footer">
  <div id="links" class="center text">
    <%= render "bottom" %>
  </div>
  <%= render 'footer' %>
</div>

  <script type="text/javascript">
    $('.box').fadeIn(500);
  </script>

