<div id="container">
  <div id="header"></div>
    <div id="content pic" class="box transparent center pic right-side ">
      <h2 class="center">Photos</h3>
      <div id="slider">
        <img src="/assets/daylight_1.jpg" class="1" />
        <img src="/assets/daylight_2.jpg" class="2" />
        <img src="/assets/daylight_3.jpg" class="3" />
      </div>
  </div>
  <div id="push"></div>
</div>

<div id="footer">
  <div id="links" class="center text">
    <%= render "bottom" %>
  </div>
  <%= render 'footer' %>
</div>
  
  
  <script type="text/javascript">
    $('.box').fadeIn(500);
    $('#slider').owlCarousel({
      items: 1,
      singleItem: true,
      navigation: true
    });
    // $('.1').click(function (event) {
    //   $('.1').addClass('hidden');
    //   $('.2').removeClass('hidden');
    // }); 
    // $('.2').click(function (event) {
    //   $('.2').addClass('hidden');
    //   $('.3').removeClass('hidden');
    // }); 
    // $('.3').click(function (event) {
    //   $('.3').addClass('hidden');
    //   $('.1').removeClass('hidden');
    // }); 
  </script>

