#header {
  height: 30px;
}

body {
  background: url('Daylight_basic.png');
  background-repeat:no-repeat;
  background-attachment: fixed top-left;
/*
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/

  background-size: 700px;
}

html, body { 
  height: 85%; 
  margin: 0; 
}
#container {
  min-height: 100%;
  height: auto;
  height: 100%;
  margin: 0 auto 85px;
}
#footer, #push {
  height: 85px;
}

#bottom-logo {
  background-color: black;
}

.transparent{
background:rgba(0,0,0,0.85);
}

.center {
  text-align: center;
}

#links {
  a {
    text-decoration:none;
    color:#563D00;
  }
}
h2 {
  color: white;
  text-align: center;
}
.box {
  width: 700px;
  height: 500px;
  border: 1px solid black;
  margin-left: auto ;
  margin-right: auto ;
}